# Test Report
***How the prototype was tested:***


The prototype was modeled after the menu item data on the XML file loaded from the Cafebonappetit website
(the data we plan to use on our app). On start, the computer prompts the user to choose between cafes and mealtime. 
If given an input that does not match one of the given options, the user is prompted to select a valid café and reenter 
a string until given a desired input. The computer will print the menu matching the desired cafe and mealtime. Following that, the computer will print the user's 
favorite's list and ask if the user would like to add an item to the favorites list. Upon adding an item to the list the
computer asks the user if they would like to add another item. If no, then the computer will loop back and ask the user 
to enter cafe and mealtime. Once a item has been favorited when printed again, there will be a 
![](/doc/resources/img/screenshotIterationOne.png) 

